main {
	width: 720px;
    padding: 54px;
    margin: 30px 20px 50px 20px;
    color: #444444;
    font-family: "Lato";
    line-height: 1.5;
}

h1 {
	color: #dd0000;
	font-weight: 500;
	font-size: 50px;
	margin: 0 0 0 0;
}

h2 {
	color: #000;
	font-weight: 400;
	font-size: 28px;
	margin: 0px 0px 10px 0px;
}

h3 {
	color: #cccccc;
	font-weight: 400;
	font-size: 39px;
	margin: 50px 0 0px 0;
}

h4 {
	color: #000;
	font-weight: 400;
	font-size: 39px;
	margin: 0px 0 10px 0;
}

p {
	color: #000;
	font-weight: 300;
	font-size: 18px;
}

article {
	color: #000;
	font-weight: 400;
}

.topnav-links {
	padding-right: 15px;
	color: #dddddd;
	font-size: 22px;
	font-weight: 400;
}

.bottomnav-links {
	padding-right: 5px;
	color: #dd0000;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	border-right: solid 2px #dddddd;
}

.copyright {
	color: #bbbbbb;
	font-size: 18px;
	font-weight: 500;
}

.continues {
	color: #dd0000;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 0 10px 0;
}

.line {
	border-bottom: solid 2px #dddddd;
	padding: 0 0 25px 0;
}

a.topnav-links:hover {
	color: #aa0000;
}

a.bottomnav-links:hover {
	color: #000;
